:root{
    --pink:#e84393;
}

*{
    margin: 0; padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    outline: none; border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;

}

html{
    font-size: 65.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;

}

section{
    padding: 2rem 9%;
}

.heading{
    text-align: center;
    font-size: 4rem;
    color: black;
    padding: 1rem;
    margin: 2rem 0;
    background: rgba(255, 51, 153, .05);

}

.heading span{
    color: var(--pink)
}

.btn{
    display: inline-block;
    margin-top: 1rem;
    border-radius: 5rem;
    background: #333;
    color: #fff;
    padding: 9rem 3.5rem;
    cursor: pointer;
    font-size: 1.7rem;

}

.btn:hover{
    background: var(--pink);

}

header{
    position: fixed;
    top: 0; left: 0; right: 0;
    background: #fff;
    padding: 2rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);

}

header .logo{
    font-size: 4.5rem;
    color: #333;
    font-weight: bolder;
    font-family: 'Great Vibes', cursive;

}

header .logo span{
    color:var(--pink);
    font-family: 'Great Vibes', cursive;

}

header .navbar a{
    font-size: 2rem;
    padding: 0 1.5rem;
    color: #666;

}

header .navbar a:hover{
    color: var(--pink);

}

